.card {
  background: var(--blanco);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 32px;
  display: flex;
  align-items: flex-start;
  padding-right: 32px;
}

.card:last-of-type {
  margin-bottom: 0;
}

.img {
  width: 50%;
}

.icon {
  margin: 32px 24px 0;
  width: 60px;
}

.title {
  margin-top: 32px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--gris-oscuro);
  margin-bottom: 12px;
  font-size: 20px;
}

.text {
  font-size: 16px;
  line-height: 1.3;
  color: var(--gris-oscuro);
  margin-bottom: 24px;
}

.btn {
  display: inline-block;
  background: var(--azul);
  padding: 8px 15px;
  color: var(--blanco);
  font-weight: 300;
  font-size: 16px;
}

.btn:hover {
  background: var(--gris-oscuro);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    align-items: stretch;
  }
  .icon {
    align-self: flex-start;
  }
  .btn {
    margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
  }
  .img {
    width: 100%;
  }
  .content {
    text-align: center;
  }
  .icon {
    margin-top: 24px;
  }
  .title {
    font-size: 18px;
    margin-top: 24px;
  }
  .text {
    font-size: 14px;
    padding: 0 24px;
  }
  .btn {
    font-size: 14px;
    margin-bottom: 24px;
  }
}
